.transaction-history {
  margin: 40px 0;
  text-align: center;
  width: 100%;
  border: 2px solid rgb(171, 171, 171);
  border-radius: 5px;
}

td,
th {
  padding: 8px;
}

thead {
  background-color: aqua;
}

tr:nth-child(even) {
  background-color: #ffffff;
}
